.ino{
    padding: 10vh 0vh;
}
.form{
    padding: 7vh;
    height: 80vh;
}
.add{
    text-align: center;
}
.f{
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn{
    background-color: black;
    color: white;
    width: 70vw;
    margin-bottom: 2vh;}
.in{
    width: 70vw;
    margin-bottom: 1.4vh;}